Ejercicios Pedromi
<br><br>
Contar letras repetidas:<br>
Desarrolla un programa que cuente la frecuencia de cada letra en una cadena dada y muestre cuál letra se repite más.
<br><br>
introduce el texto a analizar:
<br>
<input class="texto-uno" type="text" [(ngModel)]="textoUno">
<br><br>
<button class="button" (click)="buttonUno()" >Obtener resultado</button>
<br><br>
{{this.resultadoUno}}
<br><br><br><br>


Suma de enteros:<br>
Escribe un programa que sume los enteros de 1 a n, donde n es proporcionado por el usuario.
<br><br>
introduce número a calcular:
<br>
<input class="texto-dos" type="number" [(ngModel)]="textoDos">
<br><br>
<button class="button" (click)="buttonDos()" >Obtener resultado</button>
<br><br>
{{this.resultadoDos}}
<br><br><br><br>

Revertir una cadena:<br>
Desarrolla un programa que invierta una cadena dada por el usuario.
E.g. Ordenador => rodanedor
<br><br>
introduce el texto a analizar:
<br>
<input class="texto-tres" type="text" [(ngModel)]="textoTres">
<br><br>
<button class="button" (click)="buttonTres()" >Obtener resultado</button>
<br><br>
{{this.resultadoTres}}
<br><br><br><br>
Contar vocales y consonantes:<br>
Desarrolla un programa que cuente el número de vocales y consonantes en una cadena dada.
<br><br>
introduce el texto a analizar:
<br>
<input class="texto-tres" type="text" [(ngModel)]="textoCuatro">
<br><br>
<button class="button" (click)="buttonCuatro()" >Obtener resultado</button>
<br><br>
{{this.resultadoCuatro}}
<br><br><br><br>
